In [4]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [5]:
names = pd.Series(["amal",'sara','dalal'], index = [1, 2, 3])
names

1     amal
2     sara
3    dalal
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [65]:
#new_index=[11,12,13]
#names.reindex(new_index)
names.index=[11,12,13]
names

11     amal
12     sara
13    dalal
dtype: object

## Q3: Retrieve First and second elements.

In [66]:
print(names[0:2])

11    amal
12    sara
dtype: object

## Q4: Add duplicate elements, then remove the duplication

In [81]:
new = pd.Series(["amal"], index=[14])
dp = names.append(new)
dp

C:\Users\yoga\AppData\Local\Temp\ipykernel_8012\996942838.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dp = names.append(new)

11     amal
12     sara
13    dalal
14     amal
dtype: object

In [72]:
names.drop_duplicates()
names

11     amal
12     sara
13    dalal
dtype: object

## Q5: Create a Students DataFrame has three columns (ID, Name)

In [17]:


Students = {
  "calories": [1111,2222],
  "duration": ['sara','arwa']
}

df = pd.DataFrame(Students)

print(df)

   calories duration
0      1111     sara
1      2222     arwa

## Q6: Read educ_figdp_1_Data.csv file

In [41]:
df = pd.read_csv('educ_figdp_1_Data.csv')
df.head()

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
0,2000,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
1,2001,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
2,2002,European Union (28 countries),Total public expenditure on education as % of ...,5.00,e
3,2003,European Union (28 countries),Total public expenditure on education as % of ...,5.03,e
4,2004,European Union (28 countries),Total public expenditure on education as % of ...,4.95,e

## Q7: What is the difference between loc and slicing?
- loc use the index labels as references
- slice use the position as references

In [62]:
#x= [df["TIME"] == 2000,  ["GEO","INDIC_ED","Value","Flag and Footnotes"]]


print(df.loc[0:3, ['TIME', 'GEO']])

   TIME                            GEO
0  2000  European Union (28 countries)
1  2001  European Union (28 countries)
2  2002  European Union (28 countries)
3  2003  European Union (28 countries)

In [55]:

print(df.iloc[0:1])

   TIME                            GEO  \
0  2000  European Union (28 countries)

                                            INDIC_ED Value Flag and Footnotes
0  Total public expenditure on education as % of ...     :                NaN